* {
    font-size: 2vw;
    font-family: sans-serif;
    margin: 0;
}

body {
    background-color: black;
}

#flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    width: 27%;
    text-align: center;
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    padding: 20px;
}

.scre {
    width: 98%;
    border-radius: 15px 15px 0 0;
    height: 115px;
    text-align: right;
    background-color: rgb(53, 53, 53);
    color: rgb(72, 100, 29);
    font-weight: bold;
    border: none;
    padding: 0 10px;
}

#pantallas {
    margin: .5vw 0;
}

.show {
    border-radius: 0 0 25px 25px;
    background-color: rgb(35, 35, 35);
    color: rgb(110, 177, 10);
}

.result {
    color: rgb(204, 255, 128);
}

.num {
    width: 115px;
    height: 115px;
    margin-bottom: .5vw;
    border-radius: 15px;
    background-color: rgb(24, 24, 24);
    color: rgb(110, 177, 10);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background .2s ease;
}

.num:hover {
    background-color: rgb(34, 47, 31);
}

.func {
    background-color: rgb(19, 22, 19);
    color: rgb(116, 149, 68);
}

.func:hover {
    background-color: rgb(21, 41, 16);
}

#eq {
    width: 230px;
}

.act2 {
    width: 90%;
    height: 115px;
    margin-bottom: 2%;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgb(24, 24, 24);
    color: greenyellow;
    font-weight: bold;
    border: 2px greenyellow;

}

h1 {
    padding-top: 30px;
    color: goldenrod;
}

/* Animaciones: */