* {
    font-size: 2vw;
    font-family: sans-serif;
    margin: 0;
}

body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='50' cy='0' r='50'/%3E%3Cg fill='%23010200' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23030400' cx='50' cy='100' r='50'/%3E%3Cg fill='%23040600' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23050800' cx='50' cy='200' r='50'/%3E%3Cg fill='%23060a01' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23080c01' cx='50' cy='300' r='50'/%3E%3Cg fill='%23090e01' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%230a1001' cx='50' cy='400' r='50'/%3E%3Cg fill='%230b1201' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%230d1501' cx='50' cy='500' r='50'/%3E%3Cg fill='%230e1701' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%230f1901' cx='50' cy='600' r='50'/%3E%3Cg fill='%23101b01' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23121d01' cx='50' cy='700' r='50'/%3E%3Cg fill='%23131f02' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23142102' cx='50' cy='800' r='50'/%3E%3Cg fill='%23152302' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23172502' cx='50' cy='900' r='50'/%3E%3Cg fill='%23182702' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23192902' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

#flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    width: 27%;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 28px;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.105));
}

.scre {
    width: 98%;
    border-radius: 20px 20px 0 0;
    height: 115px;
    text-align: right;
    background-color: rgb(53, 53, 53);
    color: rgb(72, 100, 29);
    font-weight: bold;
    border: none;
    padding: 0 10px;
}

#pantallas {
    margin: .5vw 0;
}

.show {
    border-radius: 0 0 25px 25px;
    background-color: rgb(35, 35, 35);
    color: rgb(110, 177, 10);
}

.result {
    color: rgb(204, 255, 128);
}

.num {
    width: 115px;
    height: 115px;
    margin-bottom: .5vw;
    border-radius: 15px;
    background-color: rgb(24, 24, 24);
    color: rgb(110, 177, 10);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background .2s ease;
}

.num:hover {
    background-color: rgb(34, 47, 31);
}

.func {
    background-color: rgb(19, 22, 19);
    color: rgb(116, 149, 68);
}

.func:hover {
    background-color: rgb(21, 41, 16);
}

#eq {
    width: 236px;
    background-color: rgb(23, 27, 11);
}

#eq:hover {
    background-color: rgb(50, 62, 15);
}

.act2 {
    width: 90%;
    height: 115px;
    margin-bottom: 2%;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgb(24, 24, 24);
    color: greenyellow;
    font-weight: bold;
    border: 2px greenyellow;

}

h1 {
    padding-top: 30px;
    color: goldenrod;
}

/* Animaciones: */